
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	  <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
	  
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	  <link rel="stylesheet" href="css/custom.css">
    <title>Ecommerce Website</title>
  </head>

  <body>
		<% include ./partials/navbar %>
    <div class="container">
    <%- body -%>

    
    </div> <!-- /container -->

	<% include ./partials/footer %>
   <script src="/js/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>
