<% layout('layout') -%>

 <div class="jumbotron" id="navbar-gap">
      <div class="container">
        <h1>Shop Smart, save Big</h1>
				<p>Starting point to create something unique.</p>
        <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h3>Start your search here</h3>
<p>Sign up to start buying.</p>
          
        </div>
        <div class="col-md-4">
         <h3>Look for smart items</h3>
<p>These items will appear as you add them to your cart.</p>
          
       </div>
        <div class="col-md-4">
          <h3>Build a smart cart</h3>
<p>The more smart items you buy together, the more you save :)</p>
          
        </div>
      </div>
