<% layout('boilerplate') -%>


<h1>Shop Smart</h1>
<p>Starting point to create something unique.</p>
<br>
<p>Sign up to start buying.</p>
<br>
<h3>Start your search here</h3>
<p>Ourprices are some of the best on the web.</p>
<br>
<h3>Look for smart items</h3>
<p>Ourprices are some of the best on the web.</p>
<br><br>
<h3>Build a smart cart</h3>
<p>Ourprices are some of the best on the web.</p>